<div class="footer">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-4">

      <h3> About Us</h3>
      <div style="height:2px;width:80px;background-color: orange;"></div>
      <br>
      <p>
        Microsoft SQL Server,sql query, sql function, sql view,sql procdure,
        JSON Web Token (JWT),
         AJAX
        , ASP.NET Web API,ASP.NET Core, Angular
        , Angular Material
        C#, ASP.NET MVC, JavaScript, AngularJS, jQuery
      </p>
       <button class="btn btn-warning"><a href="#" target="_blank" style="text-decoration: none;color: black;font-weight:bold;">Contact Us</a></button>
    </div>
    <div class="col-md-3">
      <h3> Contact Us</h3>
      <div style="height:2px;width:100px;background-color: orange;"></div>
      <br>
       <i class="fa fa-envelope text-warning" style="font-size: 22px;"> </i><span style="color:white"> Email : mhabirkhan97@gmail.com</span>
       <br>

       <i class="fa fa-map-marker text-warning" style="font-size: 28px;"></i> <span style="color:white">Address : Mohakali DOHS,Dhaka - 1212</span>

    </div>
    <div class="col-md-3">
      <h3> Disclaimer</h3>
      <div style="height:2px;width:100px;background-color: orange;"></div>
      <br>
      <p>
        You can read the programs provided here and
        I am sure you can provide a better implementation than mine.
        Use the programs provided here to enhance your skills and do not
        produce it on your website or any other form without my permission.
      </p>
       <span style="padding:5px">
        <i class="fa fa-facebook text-warning" style="font-size: 28px;"></i>
        <i class="fa fa-twitter text-warning" style="font-size: 28px;padding:10px"></i>
        <i class="fa fa-linkedin text-warning" style="font-size: 28px;padding:10px"></i>
        <i class="fa fa-reddit text-warning" style="font-size: 28px;padding:10px"></i>
        <i class="fa fa-instagram text-warning" style="font-size: 28px;padding:10px"></i>
       </span>
    </div>
    <div class="col-md-1">

    </div>

  </div>
</div>
